/* fonts */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
/* header section styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 50px;
    height: 150vh;
}
.container{  
    margin-left: 230px;
    margin-right: 230px;
}
.logo-text{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center
}
.nav-list{
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.head-text{
    text-align: center;
    margin-top: 102px;
}
.head-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}
.head-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 32px;
    margin-bottom: 32px;
    
}
.btn-primary{
    background-color: #FF9015;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 8px;
}
.head-banner img{
    margin-top: 40px;
    margin-left: 230px;
    margin-right: 230px;
    width: 70%;  
}
/* -------------------
  team section styles 
---------------------*/
.team-container{
    display: flex;
    align-items: center;
    gap: 73px;
    margin-top: 80px;
    margin-left: 230px;
    margin-right: 230px;

}
.team{
    display: grid;
    grid-template-columns: repeat(2, 355px);
    gap: 24px;
    
}
.team-title{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}
#text-hilight{
    color: #727272;
}
#text-orange{
    color: #FF900E;

}
.team-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 30px;
}
/* features container styles */

.features-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 150px;
}
.features-title h2{
    margin-left: 24px;
    
}
.features-title{
    border-left: 5px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.features-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}
.features-item{
    margin-bottom:20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 30px;
}
.item-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
   
}
.item-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
    
}
.features-img img{
    width: 630px;
    height: 945px;
    
}
.text-bold{
    font-weight: 700;
    font-size: 65px;
}
/* facts section styles */

.facts-container{
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 150px;

}
.facts-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.facts-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.facts-item{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    text-align: center;
}
.facts-items{
    background-color: #FFFFFF;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 36px;
}
.fact-no{
    font-weight: 600;
    font-size: 45px;
}
.fact-name{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* sponspor section styles */

.sponspor-container{
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 150px;
}
.sponspor-text{
    text-align: center;
}
.container-name{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.sponspor-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}
.sponspor-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
}
footer p{
    font-weight: 400;
    font-size: 20px;
    padding: 40px;
    text-align: center;
}



/* ------------------
   responsive style
------------------- */
@media screen and (max-width: 576px) {
    header{
        height: 110vh;
    }
    .container{
        margin: 0px;    
    }
    .head-banner img{
        margin-left: 50px;
        width: 80%;
    }
    .logo-text{
        text-align: center;
    }
    nav, nav ul{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column;
    }
    .team{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-text{
        text-align: center;
        width: 450px;
    }
    .features-container{
        margin-left: 0px;
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .facts-item{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .sponspor-container{
        margin-left: 0px;
        margin-right: 0px;
    }
    .sponspor-text{
        padding: 0px;
    }
    .sponspor-item{
        flex-direction: column;
        gap: 30px;
    }
    footer{
        margin-left: 0px;
        margin-right: 0px;
    }
}